<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i♥music</title>
</head>
<body background="/imagenes/plumita1.jpg">
    <audio src="/musica/Mariya Takeuchi - Plastic Love.mp3" preload="none" controls></audio>
    <center>
        <p style="font-size:50px"><b>Mariya Takeuchu - Plastic love</b></p>
        <p>1984 - Jpop, CityPop</p>
        <img src="/imagenes/Plastic love.jpg">
    </center>

<p>
    Una sorpresa agradable con ritmos que suenan aún frescos, luego de casi 40 años </p>
    <p>    Internet es sin duda la herramienta que ha unido al mundo en este siglo. Y lo tenemos bien claro quienes seguimos la música asiática. Sin internet, muchos de los artistas que amamos, no serían conocidos más allá de sus países de origen y algunos vecinos.

        El portal de video más famoso del mundo, ha llevado a la fama a incontables artistas desconocidos, pero también ha revivido viejas canciones que fueron dejadas en el tiempo.
        
        En esta ocasión la canción que fue "revivida" es titulada "Plastic Love" (Amor plástico) de la cantante Mariya Takeuchi. Lanzada en 1984 y compuesta por su esposo también cantante, Tatsuro Yamashita, rápidamente llegó a los primeros puestos en el oricon (lista de música japonesa) y además se volvió toda una fuente de inspiración para artistas de la época como actuales que la han usado para sacar samples (pedacitos del intrumental) y crear sus propias canciones.
        
        Mariya Takeuchi junto a su esposo Tatsuro Yamashita, son llamados los reyes de city pop, que es como se le denomina a la música japonesa que caracterizó los 80s en Japón.
        
        Plastic Love ya cuenta con más de 20 millones de reproducciones de visitas en Youtube, sin embargo, si agregamos todas las versiones remasterizadas de esta canción, más las versiones editadas por fans,  las borradas, serían muchas más. Si además, mencionamos el hecho de que no está en un canal oficial y que milagrosamente se mantiene en youtube a pesar de que las asociación de compositores japoneses es estricta con el copyright y los videos musicales japoneses no duran mucho tiempo en esa plataforma, esta canción sin duda está siendo amada.
        
        La canción es acerca de una chica que fue dañada en el amor, y ya no puede enamorarse nuevamente porque aún lo recuerda, por lo que le dice a los chicos que para ella ellos son sólo un juego. Además de que usa ropa cara y va a discos de moda para bailar hasta el amanecer y no recordarlo.</p>


       <p><A HREF="/index.html"><IMG SRC="/imagenes/images.jpg" ISMAP></A> Vuelve al inicio</p> 

</body>
</html>