<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i♥music</title>
</head>
<body background="/imagenes/plumita2.jpg">
    <audio src="/musica/Neutral Milk Hotel - In The Aeroplane Over The Sea.mp3" preload="none" controls></audio>
    <center>
        <p style="font-size:50px"><b>Neutral Milk Hotel - In the Airplane Over the Sea</b></p>
        <p>1998 - Folk rock</p>
        <img src="/imagenes/airplane.jpg">
    </center>

<p>
    Neutral Milk Hotel publicaron en 1998 uno de los discos de folk-rock más perfectos de la Historia </p>
    <p>    In the Aeroplane Over the Sea es el segundo y ultimo disco de la banda de Georgia Neutral Milk Hotel. Grabado en 1998, fue un disco muy influyente para bandas como Arcade Fire o The Decemberists. Luego de este disco la banda se separó y se volvió a juntar en 2013 para tocar en algunos cubes. Fue un disco pensado para vender 5 mil copias y al dia de hoy lleva medio millón, mostrando que el mundo lo sigue descubriendo. El Bloque no es la excepción.
       <p><A HREF="/index.html"><IMG SRC="/imagenes/images.jpg" ISMAP></A> Vuelve al inicio</p> 

</body>
</html>